@charset "UTF-8";

main{
    width: 1000px;
    margin: 0 auto;
}

.aboutBox{
    display: flex;
    margin-bottom: 100px;
}

.aboutBox img {
    width: 300px;
    height: 400px;
    margin-right: 20px;
}

.adetails{
    display: flex;
    width: 1000px;
}

.detaiInner{
    width: 40%;
}

h3{
    font-size: 1.2em;
    margin-top: 50px;
}

marginTop


dl{
    display: flex;
    flex-wrap: wrap;
/*    height: 150px;*/
    /*border: 1px solid #b2b8a3;*/
    padding: 10px 0 0 0;
    background: #fff;
}

dt{  
    color: #585858;
}

dd{
    margin-bottom: 5px;
    width: 300px;
}