@charset "UTF-8";

html{
	scroll-behavior: smooth;
}

.nav-unshown {display:none;}

/*指定したタグの余白をなくす*/
body,h1,h2,h3,ul,p,dl{margin: 0;
	padding: 0;}

*{
	box-sizing: border-box;
}

p{
	line-height: 1.5;
	color: #393f4c;}

/*タグセレクタ*/
body {
	font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
	background-color: #fff;
}

/*サイトを読み込むときの書体設定　詳細が書かれています。↓↓↓↓↓↓↓ 
https://saruwakakun.com/html-css/basic/font-family-how-to */

img{
	vertical-align: bottom;
}

main{
    width: 100%;
    margin: 0 auto;
}

.wrap{
	overflow: hidden;
}


/*header*/
.headerInner {
/*    display: flex;
    width: 100%;*/
}

.hRbox {
    width: 100%;
    position: relative;
    margin: 1em 1em 0 0.5em;
    font-size: 2.5em;
    text-decoration: none;
}

.sns{
	font-size: 0.7em;
    text-decoration: none;
    text-align: center;
}

.sns a{
	color: #393f4c;
}

.sns a:hover{
	opacity: 0.7;
	transition: 1.2s ease;
}

.faceBook {
    position: absolute;
    top: 10px;
    left: 455px;
}

.instaGram {
    position: absolute;
    top: 39px;
    left: 455px;
}

.hRbox a{
	text-decoration: none;
	color: #393f4c;
}

.hRbox a:hover{
	opacity: 0.7;
	transition: 1.2s ease;
	color: #84a2d4;
}

.headLeft{
    display: flex;
}

h1 {
    font-size: 1.55em;
    margin: 0 0 0 0.7em;
    width: 100%;
}

h1 a:hover{
	opacity: 0.6;
	transition: 1.0s;
}

.hRbox p{
	font-size: 0.5em;
	text-align: center;
}

/*nav*/

nav {
    width: 60%;
    margin: 0em;
    background-color: #eaf4fc;
    height: 55px;
    padding: 15px 0 0 0;
}

nav ul {
    display: flex;
    margin: -0.9em 0 0em 2em;
    list-style-type: none;
}

nav ul li a {
    font-size: 1em;
    width: 9vw;
    display: block;
    color: #393f4c;
    text-decoration: none;
    text-align: center;
    padding: 1.2em 0;
    position: relative;
    font-weight: bold;
}

nav ul li a:hover{
	background-color: #84a2d4;
	color: #fff;
    transition: 1.2s ease;
    opacity: 0.7;
    border-radius: 0px;
    height: 54px;
}

main{
    width: 1000px;
    margin: 0 auto;
}

/*PAGE UPボタン*/
.topUp{
	position: relative;
}

.topUp a{
	position: absolute;
	bottom: 0;
	right: -2%;
	text-decoration: none;
	font-size: 30px;
	font-weight: bold;
	color: #393f4c;
	/*background-color: #eaf4fc;*/
	padding: 10px 15px;
	border-radius:15px;
	transition: 0.5s ease;
}

.topUp a:hover{
	color: #84a2d4;
	/*background-color: #84a2d4;*/
    opacity: 1;
}

.topUp{
	position: relative;
}

.topUp01 a {
    position: absolute;
    bottom: -191%;
    right: 16%;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #393f4c;
    /* background-color: #eaf4fc; */
    padding: 10px 15px;
    border-radius: 15px;
    transition: 0.5s ease;
}

.topUp01 a:hover{
	color: #84a2d4;
	/*background-color: #84a2d4;*/
    opacity: 1;
}



.formBox{
    width: 100%;
    background-color: #eaf4fc;
    padding: 100px 0 50px 0;
    margin: 0 auto;
}

.formInner{
	width: 1000px;
    margin: 0 auto;
}



/*footer部分*/
footer{
    font-size: 12.5px;
    padding: 20px 0;
    text-align: center;
    color: #393f4c;
    /*background-color: #eaf4fc;*/
    border-top: solid 1px #393f4c;
}
