@media screen and (min-width:481px) and ( max-width:960px) {
.spNone {display:none;}
.wrapper{
    overflow: hidden;
}

header {
    top: 0;
    width: 100%;
    /*position: fixed;*/
}
/*.sp { display:none; }*/

body{
    /*overflow: hidden;*/
}

header {
    width: 100%;
}

main {
    width: 100%;
    margin: 0 auto;
}

.hRbox {
    width: 100%;
    position: relative;
    margin: 1.7em 0em 0 0.5em;
    font-size: 2.5em;
    text-decoration: none;
}

h1 {
    font-size: 1.5em;
    margin: 0;
    width: 160%;
}

/*sns*/
.sns{
    margin: 0;
    /*position: fixed;*/
    font-size: 1.3em;
}

.faceBook {
    /*position: fixed;*/
    top: 0.2em;
    left: 8em;
}

.instaGram {
    /*position: fixed;*/
    top: 0.2em;
    left: 9em;
}

/*nav*/
nav {
    width: 0;
    margin: 0;
    background-color: #fff;
    height: 0;
    padding: 15px 0 0 0;
}

nav ul {
    display: flex;
    margin: 2em auto 0em 2.5em;
    list-style-type: none;
    display: block;
}

nav ul li a {
    font-size: 1.8em;
    width: 80%;
    display: block;
    color: #393f4c;
    text-decoration: none;
    text-align: center;
    padding: 5px 0;
    position: relative;
    font-weight: bold;
    padding: 41px 0 0 0;
}

nav ul li a:hover{
    margin: 0;
    padding: 0.5em 0 0 0;
}


/*以下はハンバーガーメニューの設定*/
#nav-drawer {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;}

/*チェックボックス等は非表示に*/
.nav-unshown {display:none;}

/*アイコンのスペース*/
#nav-open {
    display:block;
    line-height: 0.5em;}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span{position: fixed;
    z-index: 999;}
#nav-open span, #nav-open span:before, #nav-open span:after {
    height: 2px;
    width: 25px;
    border-radius: 3px;
    background: #555;
    display: inline-block;
    content: '';
    cursor: pointer;}

#nav-open span:before {top: 0;}
#nav-open span:after {top: 0;}

/*閉じる用の薄黒カバー*/
#nav-close {
    display: none;/*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;/*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: .3s ease-in-out;}

/*中身*/
#nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;/*最前面に*/
    width: 60%;/*右側に隙間を作る*/
    max-width: 330px;/*最大幅*/
    height: 100%;
    background: rgba(255, 255, 255, 0.9);/*背景色*/
    transition: .3s ease-in-out;/*滑らかに表示*/
    transform: translateX(-105%);/*左に隠しておく*/
    color: #000;}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
    display: block;/*カバーを表示*/
    opacity: .5;}

#nav-input:checked ~ #nav-content {
    transform: translateX(0%);/*中身を表示*/
    box-shadow: 6px 0 25px rgba(0,0,0,.15);}
/*ハンバーガーメニューの設定ここまで*/

/*body*/
.imgInner {
    width: 100%;
    margin-bottom: 2em;
}

/*トップの画像3枚*/
.imgBox{
    width: 30%;
    margin: 0 auto;
}

.imgBox img {
    width: 100%;
    height: 90%;
    border: none;
}

.imgBox .mask {
    width: 100%;
    height: 90%;
    position: absolute;
    top: -100%;
    left: 0;
    background-color: rgba(0,0,0,0.4);
}

/*about*/
.aboutInner {
    width: 100%;
    background-color: #eaf4fc;
    margin: 1em 0;
    padding: 1.5em 0;
}

.aboutBox {
    display: flex;
    margin: 0 auto 1em;
}

.aboutImg {
    width: 79%;
    height: auto;
    margin: 1.5em 0;
}

.aboutInner img {
    margin: 0 0.5em;
    width: 84%;
    height: 28%;
}

article{
    width: 140%;
}

.aboutH2 {
    width: 100%;
    margin: 1em 0 0;
    font-size: 1.4em;
}

.spF{
    font-size: 0.6em;
}

.aboutP {
    font-size: 0.9em;
    margin: 0 auto;
    width: 100%;
}

.detaiInner {
    width: 100%;
}

h3 {
    font-size: 1.2em;
    margin: 2.5em auto 0;
    color: #393f4c;
    width: 100%;
}

dl {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0 0 0;
    width: 100%;
    margin: 0 auto;
}

dt {
    font-size: 1em;
    color: #393f4c;
    width: 19%;
    margin: 0 0.4em 0 0;
}

dd {
    font-size: 1em;
    width: 70%;
    margin: 0 0 1em;
    color: #393f4c;
}


/*グラフィック*/
.grdesignInner {
    width: 100%;
    background-color: #fff;
    margin: 1em 0 0.5em;
    padding: 0.5em 0 1em 0;
}

.workTitle {
    font-size: 0.9em;
    background-color: #eaf4fc;
    width: 60%;
    margin: 1.5em auto 0.8em;
    text-align: center;
    color: #393f4c;
    padding: 0.3em 0 0.2em;
}

.grFirst {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 0.5em;
}

.grFirst img {
    max-width: 30%;
    height: auto;
    margin: 0 0.6em 0.6em 0;
    border: solid #393f4c 1px;
}

.grSecond {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 0.5em;
}

.grSecond img{
    width: 30%;
    height: auto;
    margin: 0 0.6em 0.6em 0;
    border: solid #393f4c 1px;
}

.grSecond img:nth-child(4) {
    margin-right: 0.6em;
}

.grThierd img {
    max-width: 100%;
    height: auto;
    margin: 0 auto 20px 0;
    border: solid #393f4c 1px;
}

.grThierd {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 0.5em;
}

.grThierd img {
    max-width: 46.5%;
    height: auto;
    margin: 0 0.6em 0.6em 0;
    border: solid #393f4c 1px;
}

.grThierd img:nth-child(odd) {
    margin-right: 10px;
}

.grFourth {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 0.5em;
}

.tissueBox01 {
    display: flex;
    margin: 0 0 0.6em 0;
}

.tissueBox02 {
    display: flex;
    margin: 0 0 0.6em 0;
}

.tissueRight01 {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.grFourth img {
    max-width: 46.5%;
    height: auto;
    margin: 0 0.6em 0 0;
    border: none;
}

.tissueRight01 img{
    max-width: 90.5%;
    margin: 0;
}

.tissueRight02 {
    display: flex;
    flex-direction: column;
    margin: 0;
}


.tissueRight02 img{
    max-width: 90.5%;
    margin: 0;
}

.clrFile {
    display: flex;
    width: 100%;
    margin-bottom: 1.3em;
}

.clrFile img {
    max-width: 30%;
    height: auto;
    margin: 0 0.6em 0.6em 0;
    border: none;
}

.clrFile img:last-child {
    margin: 0 0 0.6em 0;
}

/*art*/
.artBox{
    padding: 0 0 1.5em 0;
}

.artInner {
    width: 100%;
    margin: 0.5em auto 0;
    padding: 1.5em 0;
}

.workTitle02 {
    font-size: 0.9em;
    width: 60%;
    margin: 1.5em auto 0.8em;
    text-align: center;
    color: #393f4c;
    background-color: #fff;
    text-align: center;
    padding: 0.3em 0 0.2em;
}

.artFirst {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 0.5em;
}

.artFirst ul {
    display: flex;
    list-style: none;
    width: 100%;
}

.artFirst li {
    margin: 0 0.6em 0.6em 0;
    width: 100%;
}

.artFirst img {
    width: 80%;
}

.artSecond {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 0.5em;
}

.artSecond ul {
    display: flex;
    list-style: none;
    width: 100%;
}

.artSecond li {
    margin: 0 0.6em 0.6em 0;
    width: 100%;
}

.artSecond img{
    width: 80%;
}

/*web*/
.webBox {
    width: 100%;
    margin-bottom: 2em;
}

.webFirst img {
    max-width: 90%;
    margin: 0 auto;
}

.webSecond img {
    max-width: 90%;
    margin: 0 auto;
}

.webThierd img {
    max-width: 47%;
    margin: 0 auto 0 0.6em;
}



.topUp a {
    position: absolute;
    bottom: -1em;
    right: 3%;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #393f4c;
    /* background-color: #fff; */
    padding: 0.1em;
    border-radius: 0px;
    transition: 0.5s ease;
}
}


/*スマホで480以下*/
@media only screen and (max-width: 480px) {
* {
    box-sizing: border-box;
}
.wrapper{
    overflow: hidden;
}

header {
    top: 0;
    width: 100%;
}

header {
    width: 100%;
}

main {
    width: 100%;
    margin: 0 auto;
}

.hRbox {
    width: 100%;
    margin: 1.2em 0 0.2em;
}

h1 {
    font-size: 1em;
    text-align: center;
}

/*sns*/
.sns{
    margin: 0;
}

.faceBook {
    top: -1.5em;
    left: 1.5em;
}

.instaGram {
    top: -1.5em;
    left: 2.5em;
}

/*nav*/
nav {
    width: 100%;
    background-color: #fff;
    height: 0;
    padding: 0;
}

nav ul {
    display: flex;
    margin: 2em auto 0em 2.5em;
    list-style-type: none;
    display: block;
}

/*以下はハンバーガーメニューの設定*/
#nav-drawer {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;}

/*チェックボックス等は非表示に*/
.nav-unshown {display:none;}

/*アイコンのスペース*/
#nav-open {
    display:block;
    line-height: 0.5em;}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span{position: fixed;
    z-index: 999;}
#nav-open span, #nav-open span:before, #nav-open span:after {
    height: 2px;
    width: 25px;
    border-radius: 3px;
    background: #555;
    display: inline-block;
    content: '';
    cursor: pointer;}

#nav-open span:before {top: 0;}
#nav-open span:after {top: 0;}

/*閉じる用の薄黒カバー*/
#nav-close {
    display: none;/*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;/*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: .3s ease-in-out;}

/*中身*/
#nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;/*最前面に*/
    width: 60%;/*右側に隙間を作る*/
    max-width: 330px;/*最大幅*/
    height: 100%;
    background: rgba(255, 255, 255, 0.9);/*背景色*/
    transition: .3s ease-in-out;/*滑らかに表示*/
    transform: translateX(-105%);/*左に隠しておく*/
    color: #000;}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
    display: block;/*カバーを表示*/
    opacity: .5;}

#nav-input:checked ~ #nav-content {
    transform: translateX(0%);/*中身を表示*/
    box-shadow: 6px 0 25px rgba(0,0,0,.15);}
/*ハンバーガーメニューの設定ここまで*/

/*body*/
.imgInner{
    width: 100%;
    margin-bottom: 2em;
}

/*トップの画像3枚*/
.imgBox{
    width: 30%;
    margin: 0 auto;
    filter: drop-shadow(0px 3px 2px rgba(0,0,0,0.5));
}

.imgBox img {
    width: 6.7em;
    height: 8.2em;
    border: none;
}

.imgBox .caption01 {
    font-size: 1.2em;
    color: #fff;
    padding-top: 166%;
    padding-left: 0px;
    text-align: center;
}

.imgBox .caption02 {
    font-size: 1.2em;
    color: #fff;
    padding-top: 179%;
    padding-left: 0px;
    text-align: center;
}

.imgBox .caption03 {
    font-size: 1.2em;
    color: #fff;
    padding-top: 179%;
    padding-left: 0;
    text-align: center;
}

/*about*/
.aboutInner {
    width: 100%;
    background-color: #eaf4fc;
    margin: 1em 0;
    padding: 1.5em 0.3em;
}

.aboutBox {
    display: flex;
    margin: 0 auto 1em;
}

.aboutImg {
    width: 80%;
    height: auto;
    margin: 0;
}

.aboutInner img {
    margin: 0;
    width: 95%;
    height: auto;
    text-align: center;
}

article{
    width: 140%;
}

.aboutH2 {
    width: 100%;
    margin: 0;
    font-size: 1.4em;
}

.spF{
    font-size: 0.6em;
}

.aboutP {
    font-size: 0.8em;
    padding: 0 0.2em;
    width: 100%;
}

.detaiInner {
    width: 100%;
}

h3 {
    font-size: 0.8em;
    margin: 2.5em auto 0;
    color: #393f4c;
    width: 100
}

table .td01 {
    width: 7em;
}

table .td02 {
    width: 2em;
}

dl {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0 0 0;
    width: 100%;
    margin: 0 auto;
}

dt {
    font-size: 0.8em;
    color: #393f4c;
    width: 19%;
    margin: 0 0.4em 0 0;
}

dd {
    font-size: 0.8em;
    width: 76%;
    margin: 0 0 1em;
    color: #393f4c;
}



/*グラフィック*/
.grdesignInner {
    width: 100%;
    background-color: #fff;
    margin: 1em auto 0.5em;
    padding: 0.5em 0 1em 0;
}


.workTitle {
    font-size: 0.9em;
    background-color: #eaf4fc;
    width: 70%;
    margin: 1.5em auto 0;
    text-align: center;
    color: #393f4c;
    padding: 0.3em 0 0.2em;
}

.grFirst {
    display: block;
    width: 100%;
    text-align: center;
}

.grLeaf {
     width: 100%; 
    margin: 0;
}

.grLeaf p {
    font-size: 0.8em;
    text-align: center;
    margin: 0 0 1em 0;
}

.grFirst .grLeaf img {
    max-width: 70%;
    height: auto;
    margin: 0.6em auto;
    border: solid #393f4c 1px;
}

.grSecond {
    display: block;
    width: 100%;
}

.grPoster{
    display: block;
    width: 100%;
    text-align: center;
}

.grPoster p {
	font-size: 0.8em;
    text-align: center;
    margin: 0 0 1em 0;
}

.grPoster02 {
    display: block;
    width: 100%;
    text-align: center;
}

.grPoster02 p {
	font-size: 0.8em;
    text-align: center;
    margin: 0 0 1em 0;
}

.grSecond img{
    max-width: 70%;
    height: auto;
    margin: 0.6em auto;
    border: solid #393f4c 1px;
}

/*.grSecond img:nth-child(4) {
    margin-right: 0.6em;
}*/

.grThierd {
    display: block;
    width: 100%;
    text-align: center;
}

.grThierd img {
    max-width: 70%;
    height: auto;
    margin: 0.6em auto;
    border: solid #393f4c 1px;
}

.blogSentence {
    font-size: 0.8em;
    text-align: left;
    padding: 0.3em;
    margin: 0 auto;

}

.grThierd img:nth-child(odd) {
    margin-right: 0;
}

.grFourth {
    display: block;
    width: 100%;
    text-align: center;
}

.tissueBox01 {
    display: block;
    width: 100%;
    text-align: center;
}

.otherSentence {
    text-align: center;
    margin: -1em 0 2em;
    font-size: 0.8em;
}

.tissueBox02 {
    display: block;
    width: 100%;
    text-align: center;
}

.tissueRight01 {
    display: block;
    flex-direction: column;
    margin: 0;
}

.grFourth img {
    width: 70%;
    border: none;
    max-width: 100%;
    height: auto;
    margin: 0.6em auto 0;
}

.tissueRight01 img {
    max-width: 34.2%;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.tissueRight02 {
    display: block;
    flex-direction: column;
    margin: 0;
}


.tissueRight02 img {
    max-width: 34.2%;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.tissueBox02 {
    display: block;
    width: 100%;
    text-align: center;
}

.clrFile {
    display: block;
    width: 100%;
    text-align: center;
}

.clrFile img {
    width: 70%;
    border: none;
    max-width: 100%;
    height: auto;
    margin: 0.6em auto;
}

.clrFile img:first-child {
    margin: 0.6em 0 0 0;
}

/*art*/
.artBox{
    padding: 0;
}

.artInner {
    width: 100%;
    margin: 0.5em auto 0;
    padding: 1.5em 0;
}

.workTitle02 {
    font-size: 0.9em;
    width: 60%;
    margin: 1.5em auto 0.8em;
    text-align: center;
    color: #393f4c;
    background-color: #fff;
    text-align: center;
    padding: 0.3em 0 0.2em;
}

.artFirst {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 0.5em 0.5em;
}

.artFirst ul {
    display: flex;
    list-style: none;
    width: 100%;
}

.artFirst li {
    margin: 0;
    width: 25%;
}

.artFirst img {
    width: 90%;
    filter: drop-shadow(0px 3px 2px rgba(0,0,0,0.5));
}

.artSecond {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 0.5em 0.5em;
}

.artSecond ul {
    display: flex;
    list-style: none;
    width: 100%;
    margin: 0 0 1.5em;
}

/*.artSecond li {
    margin: 0;
    width: 25%;
}*/

.artSecond img{
    width: 90%;
    filter: drop-shadow(0px 3px 2px rgba(0,0,0,0.5));
}

/*web*/
.webBox {
    width: 100%;
    margin: 0;
    padding: 1.4em 0;
}

.webFirst img {
    max-width: 90%;
    margin: 0.6em auto;
    filter: drop-shadow(0px 3px 2px rgba(0,0,0,0.5));
}

.webSecond img {
    max-width: 90%;
    margin: 0.6em auto;
    filter: drop-shadow(0px 3px 2px rgba(0,0,0,0.5));
}

.webSecond a {
    color: #000;
    display: block;
    transition: 0.8s;
    position: relative;
    text-decoration: none;
    margin: 0;
    padding-bottom: 0;
}

.webThierd {
    margin-bottom: 0;
    display: flex;
}

.webThierd img {
    max-width: 47%;
    margin: 0.6em auto 0 0.6em;
    filter: drop-shadow(0px 3px 2px rgba(0,0,0,0.5));
}

.formInner {
    width: 100%;
    margin: 0 auto;
}

.form{
    width: 100%;
}

.formBox {
    width: 100%;
    background-color: #eaf4fc;
    padding: 3.5em 0 1.5em 0;
    margin: 0 auto;
}

.topUp {
    bottom: -0.9em;
    position: relative;
}

.topUp01 a {
    position: absolute;
    bottom: -70.5em;
    right: 1%;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #393f4c;
    padding: 0;
    border-radius: 15px;
    transition: 0.5s ease;
}

.topUp a {
    position: absolute;
    bottom: -1em;
    right: 3%;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #393f4c;
    padding: 0.1em;
    border-radius: 0px;
    transition: 0.5s ease;
}

.topUpLast a {
    position: absolute;
    bottom: -1.9em;
    right: 1%;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #393f4c;
    padding: 0;
    border-radius: 15px;
    transition: 0.5s ease;
}
}

@media screen and (min-width:481px) and (max-width: 1024px) {
.spNone {display:none;}
.wrapper{
    overflow: hidden;
}


/*topImages*/
.imgInner {
    display: flex;
    margin: 0 auto 100px;
    width: 100%;
}

.imgBox img {
    width: 100%;
    height: 100%;
    border: solid 1px #393f4c;
}

/*about*/
.aboutInner {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 100px 0.8em 150px;
}

.aboutImg{
    margin: 0 auto;
}

.aboutImg img {
    width: 18.2em;
    height: 27em;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    align-items: center;
}

.intro {
    width: 43em;
    margin: 0 0 0 0.8em;
}

/*work*/
/*グラフィック*/
.grdesignInner {
    width: 100%;
    background-color: #fff;
    text-align: center;
    margin: 0 auto;
    padding: 10em 0.8em;
}

.grFirst {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10em;
}

.grLeaf {
    width: 20em;
    margin: 0 1.2em 0 0;
}

.grFirst .grLeaf img {
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    border: solid #393f4c 1px;
    width: 20.3em;
}

.grSecond{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10em;
}

.grPoster{
    width: 20em;
    margin: 0 1.2em 0 0;
}

.grPoster img{
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    border: solid #393f4c 1px;
    width: 20.3em;
}

.grPoster02{
    width: 20em;
    margin: 0;
}

.grPoster02 img{
    width: 20em;
    margin: 0 1.2em 0 0;
}

.grThierd{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10em;
}

.grThierd img {
    max-width: 30.5em;
    height: auto;
    margin: 0 auto 1.4em 0;
    border: solid #393f4c 1px;
}

.grThierd img:nth-child(odd) {
    margin-right: 1.4em;
}

.grFourth {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

/*art*/
.grdesignInner {
    width: 100%;
    background-color: #fff;
    text-align: center;
    margin: 0 auto;
    padding: 10em 0.8em;
}

/*topUp*/
.topUp01 a {
    position: absolute;
    bottom: -189%;
    right: 0%;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #393f4c;
    padding: 10px 15px;
    border-radius: 15px;
    transition: 0.5s ease;
}

.topUp a {
    position: absolute;
    bottom: -177px;
    right: -2%;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #393f4c;
    /* background-color: #eaf4fc; */
    padding: 10px 15px;
    border-radius: 15px;
    transition: 0.5s ease;
}

.topUpArt a{
   position: absolute;
    bottom: -118px;
    right: -2%;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #393f4c;
    padding: 10px 15px;
    border-radius: 15px;
    transition: 0.5s ease; 
}

.topUpweb a{
    position: absolute;
    bottom: -117px;
    right: -2%;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #393f4c;
    padding: 10px 15px;
    border-radius: 15px;
    transition: 0.5s ease;
}


}
