@charset "UTF-8";

/*参考カラー
#ff8f56 #984a59 #60424c #efe7da #ddd5c5*/

/*指定したタグの余白をなくす*/
body,h1,h2,h3,ul{margin: 0;
	padding: 0;}

*{
	box-sizing: border-box;
}

/*タグセレクタ*/
body {
	font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
	background-color: #bbdbf3;
}
/*サイトを読み込むときの書体設定　詳細が書かれています。↓↓↓↓↓↓↓ 
https://saruwakakun.com/html-css/basic/font-family-how-to */

img{
	vertical-align: bottom;
}

.wrap{
	overflow: hidden;
}

/*header部分*/
header{
	padding: 20px 0;
	background-color: #fff;
	border-bottom: 3px solid #fff;
}

header .fbox{
	width: 1000px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

header .fbox a:first-child {
    margin-right: auto;}

header h1{
	font-size: 16px;
	margin: 0 0 0 auto;
	font-family: 'Sawarabi Mincho', sans-serif;
}

/*nave部分*/
nav{
	background-color: #4169e1;
}

nav ul{
	width: 1000px;
	display: flex;
	margin: 0 auto;
	list-style-type: none;
}

nav ul li{
	width: 125px;
}

nav ul li a{
	width: 120px;
	display: block;
	color: #fff;
	text-decoration: none;
	text-align: center;
	padding: 10px 0;
	transition: 1.1s ;
	position: relative;
}

nav ul li a:hover {
	transform: scale(1.1);
	opacity: 0.6;
	background-color: #fff;
	color: #4169e1;
	font-weight: bold; 
}

/*main img部分*/
.imageAndwriting{
	position: relative;
	height: 400px;
	overflow: hidden;
	z-index: 18;
	/*はみ出たところを隠す。*/
}

.imageAndwriting p{
	position: absolute;
	color: #fff;
	top: 45px;
	left: 180px;
	font-size: 5em;
	font-weight: bold;
	text-shadow: 4px 4px 1.5px #808080;
	line-height: 1.2em;
	font-family: serif;
}

.imageAndwriting img{
	width: 100%;
}

.imageAndwriting .welcome {
    width: 30%;
    position: absolute;
    top: 8em;
    left: 15em;
}

/*.mainPhoto{position:relative;このボックスを起点とするためにposition:relativeに設定
    height: 400px;
    overflow: hidden;}*//*はみ出した画像を隠すため*/

/*.mainPhoto .photo{width: 100%;}

.mainPhoto .welcome{
	position:absolute;このクラスを自由に動かすためにposition:absoluteに設定
	top:25%;/*.mainPhotoの左上を起点として上から25%分下にずらす
	left:20%;}/*.mainPhotoの左上を起点として左から20%分左にずらす
*/
/*main部分*/
main{
	width: 1000px;
	margin: 20px auto 0;
	display: flex;
}

/*article部分*/
article{
	width: 700px;
	display: flex;
	flex-wrap:wrap;
	align-content: start;
	margin-left: 0.7em;
}

/*section部分*/
.box{
	width: 329px;
	border: solid 1px #000000;
	margin: 0 20px 20px 0;
	background-color: #fff;
}

.box:nth-of-type(even){
	margin-right: 0;
}

.box img{
	width: 100%;
	height: auto;
}

.box p{
	margin: 0 8px;
	line-height: 1.5em;
	text-decoration: none;
	margin: 10px 10px 15px 10px;
}

.box a{
	color: #000;
	display: block;
	transition: 0.8s ;
	position: relative;
	text-decoration: none;
	margin: 0 0 20px 0;
    padding-bottom: 30px;
}

.box:hover{
	opacity: 0.7;
	background-color: #fff;
	color: #4169e1;
	opacity: 0.5 ;

}

input[type="checkbox"]{display: none;}

/*aside部分*/
aside{
	width: 300px;
	background: linear-gradient(0deg, #bbdbf3, #4169e1);
}

aside .cul h2{
	font-size: 1em;
	color: #4169e1;
	margin: 0 0 20px 0;
	padding: 10px;
	background-color: #fff;
	box-shadow: 0 1px 5px #789;
}

aside .cul ul{
	margin: 0 0 20px 0;
	list-style-type: none;
	font-size: 0.9em;
}

aside .cul ul li a{
	text-decoration: none;
	color: #fff;
	display: block;
	padding: 10px 0 10px 40px;
}

aside section ul li a:hover{
	transition: 0.5s ease;
	color: #fff;
	text-shadow: 0 0 13px #00008b;
	background-color: #3963e3;;
	font-weight: bold;
}

/*banner*/
.bnnr img{
	width: 100%;
	margin-bottom: 20px;
}

.bnnr a{
	transition: 0.5s ease;
}

.bnnr a:hover{
	opacity:0.5;
}

/*PAGE UPボタン*/
.topUp{
	position: relative;
}

.topUp a{
	position: absolute;
	bottom: 0;
	right: 5%;
	text-decoration: none;
	font-size: 30px;
	font-weight: bold;
	color: #ff6347;
	background-color: #fff462;
	padding: 10px 15px;
	border-radius:15px;
	transition: 0.5s ease;
}

.topUp a:hover{
	color: #fff;
	background-color: #ea5549;
	opacity: 0.5;
}

/*footer部分*/
footer{
	font-size: 12.5px;
	margin-top: 20px;
	padding: 10px 0;
	text-align: center;
	color: #4169e1;
	border-top: 2px solid #4169e1;
}

/*lightbox箇所*/
.lightB{width: 1000px;
    margin: 0 auto;}

.lightB h2{
    font-size: 18px;
    padding: 10px 0 10px 10px;
    background: #ddd5c5;/*背景色*/
    border-left: solid 5px #60424c;/*左線*/
    border-bottom: solid 1px #984a59;}/*下線*/

.lightB ul{display: flex;
    list-style: none;}

.lightB li{
    width: 100px;/*写真の幅*/
    margin:10px;}

.lightB li a{transition: .5s ease;}
.lightB li a:hover{opacity: 0.5;}

/*　画面サイズが481px以上　960pxまでのスマホ横・タブレット画面対策　*/
@media screen and (min-width:481px) and (max-width:960px) {

.fixbox{
    position: none;
    margin-top:0;}

.wrapper{overflow: hidden;}/*スマホの右側に余白が空いてしまうのを防ぐため*/

/*header*/
header {width: 100%;}

header .fbox{width: 100%;
    padding: 0 0 0 0em;}

header .fbox a:first-child {
    margin-left: 1.1em;
}

header .fbox a:first-child {
    margin-left: 3em;
}

header h1{
	margin: 0 15px 0 auto;
}

/*mainの画像*/
.imageAndwriting{
	position:relative;
	height: 50%;
    overflow: hidden;
    z-index: 10;
}

.imageAndwriting img{width: 100%;
    height: auto;}

.imageAndwriting .welcome{
    position: absolute;
    top:20%;
    left: 5%;
    width: 40%;}

/*nav*/
nav ul{
	width: 100%;
    font-size: 12px;}

nav li:first-child{border-left: none;}/*liの最初の左側の線は消す*/
nav li:last-child{border-right: none;}/*liの最後の右側の線は消す*/

nav ul li a {
    width: 100%;
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 20px 0;
    transition: 1.1s;
    position: relative;
}

nav li:first-child {
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

/*main*/

/*main*/
main{
	width: 100%;}

article.box{
	padding-left: 0.5em;}

.box{
    width: 46%;
    height: 250px;
    display: inline-block;
    border:1px solid #60424c;
    margin: 0 0.5em 1em 0;}

.box:nth-of-type(2n){margin-right: 0;}

.box img{width: 100%;}
.box p{font-size: 0.9em;}

}

/*スマホでの表示 ブラウザ幅480px以下になったら下記の設定を使用する*/
@media only screen and (max-width: 480px) {
.fixbox{
    position: none;
    margin-top:0;}

.wrapper{overflow: hidden;}/*スマホの右側に余白が空いてしまうのを防ぐため*/

header{
	max-width: 100%;
}

header .fbox{
	width: 100%;
	margin: 0;
	display: flex;
	align-items: center;
}
header .fbox img{
	width: 70%;
    margin-left: 2.5em;
}

header h1{
	width: 50%;
    font-size: 12px;
    margin-right: 0.5em;
    text-align: right;
}

nav ul{
	width: 100%;
	flex-wrap: wrap;
	font-size: 0.8em;
	font-weight: bold;
}

nav li{
	width: 50%;
}

nav ul li a{
	    margin: 0 auto;
	width: 50%;
}


.imageAndwriting{
	height: 100%;
}

.imageAndwriting img{
	margin-top: 80px;
}

.imageAndwriting img .welcome {
    display: none;}

.imageAndwriting p{
	display: none;
}

main{
	width: 100%;
	flex-direction: column;
}

article{
	width: 100%;
	flex-direction: column;
	flex-wrap:wrap;
	align-content: start;
	margin-left: 0;
}

.box{
	width: 100%;
	border: none;
    margin: 0;
}

aside {
    width: 100%;
}

aside .cul ul {
    display: flex;}

}

/*スマホでの表示*/
@media only screen and (max-width: 480px) {

.fixbox{
    position: none;
    margin-top: 0;}

.wrapper{overflow: hidden;}

header { width: 100%;
    position: fixed;
    z-index: 99;
    height:12%;
    margin:-3% 0 0 0;}
	
.header-inner{width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;}

.header-inner img{
    width: 70%;
    margin-left: 2.5em;}

.header-inner h1{
    width: 50%;
    font-size: 12px;
    margin-right: 0.5em;
    text-align: right;}

.mainPhoto{height: 100%;
margin-top: 22%;}

.mainPhoto .photo{width: 100%;}

.mainPhoto .welcome{display: none;}


nav ul{flex-direction: column;}
    
nav ul li{
    width: 100%;
    border-left: none;}

nav ul li:last-child{border-right: none;}
    
nav ul li a {padding: 0.75em 1em;
    text-align: left;
    display: block;
    color: #000;}

/*以下はハンバーガーメニューの設定*/
#nav-drawer {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;}

/*チェックボックス等は非表示に*/
.nav-unshown {display:none;}

/*アイコンのスペース*/
#nav-open {
    display:block;
    line-height: 0.5em;}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span{position: fixed;
    z-index: 999;}
#nav-open span, #nav-open span:before, #nav-open span:after {
    height: 2px;
    width: 25px;
    border-radius: 3px;
    background: #555;
    display: inline-block;
    content: '';
    cursor: pointer;}

#nav-open span:before {top: 0;}
#nav-open span:after {top: 0;}

/*閉じる用の薄黒カバー*/
#nav-close {
    display: none;/*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;/*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: .3s ease-in-out;}

/*中身*/
#nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;/*最前面に*/
    width: 60%;/*右側に隙間を作る*/
    max-width: 330px;/*最大幅*/
    height: 100%;
    background: rgba(255, 255, 255, 0.9);/*背景色*/
    transition: .3s ease-in-out;/*滑らかに表示*/
    transform: translateX(-105%);/*左に隠しておく*/
    color: #000;}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
    display: block;/*カバーを表示*/
    opacity: .5;}

#nav-input:checked ~ #nav-content {
    transform: translateX(0%);/*中身を表示*/
    box-shadow: 6px 0 25px rgba(0,0,0,.15);}
/*ハンバーガーメニューの設定ここまで*/

    
main{width: 100%;flex-direction: column;}

article.courseBox{width:100%;
    display: flex;
	flex-wrap: wrap;}

.navBox{
    width: 100%;
    border:none;
    margin: 10px 0 20px 0;}

.navBox img{width: 100%;}

.navBox p{margin: 0 10px;
    line-height:1.5em;
    font-size: 14px;}

/* aside */
aside {width:100%;}

.sidebar ul{font-size:16px;
    display: flex;
    flex-wrap: wrap;}
 
.sidebar li a {padding: 5px 15px 5px 15px;}

/* banner */
.banner{width:100%;}


/*以下はアコーディオンメニュー*/
/*.menu {
	max-width: 400px;
	margin: 0 auto;
	padding: 0;}

.menu a {
    display: block;
    padding: 10px;
	text-decoration: none;
	color: #000;
    line-height: 1;}

.menu label {
    display: block;
    margin: 0 0 2px 0;
    padding :12px;
    line-height: 1;
	cursor :pointer;}

.menu input {display: none;}

.menu ul {
    margin: 0;
	padding: 0;
    background :#f4f4f4;
	list-style: none;
    display: flex;
    flex-direction: column;}

.menu li {
    max-height: 0;
    overflow-y: hidden;
	transition: all 0.5s;}*/

#menu_bar01:checked ~ #links01 li,
#menu_bar02:checked ~ #links02 li {
    max-height: 46px;
    opacity: 1;}
/*アコーディオンメニューここまで*/

/*ページの上へ*/
.topPage a{
    position: absolute;
    bottom: 0;
    right: 0.5em;
    font-size: 20px;}

}