@charset "UTF-8";

/*指定したタグの余白をなくす*/
body,h1,h2,h3,ul,p,dl{margin: 0;
	padding: 0;}

html{
	scroll-behavior: smooth;
}

*{
	box-sizing: border-box;
}

p{line-height: 1.5;}

/*タグセレクタ*/
body {
	font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
	background-color: #fff;
}

/*サイトを読み込むときの書体設定　詳細が書かれています。↓↓↓↓↓↓↓ 
https://saruwakakun.com/html-css/basic/font-family-how-to */

img{
	vertical-align: bottom;
}

.wrap{
	overflow: hidden;
}


/*header*/
body{
	color: #585858;
	background: #fff;
}

header{
	position: absolute;
    justify-content: space-between;
    width: 100%;
    z-index: 999;
    background: #fff;
    top: 0;
 	left: 0;
}

.headerInner{
    display: flex;
    padding: 0 300px 5px;
    width: 100%;
    background: #fff;
}
    

.headerInner img{
    width: auto;
    height: 100px;
}

.headerBox a{
	text-decoration: none;
	color: #9d9f88;
	display: block;
}

.headerBox a:hover{
	opacity: 0.7;
	transition: 1.2s ease;
}

.welcome{
    font-size: 1.3em;
    font-weight: bold;
    color: #b2b8a3;
}

h1{
	margin: 35px auto 0 10px;
    font-size: 5em;
}

h1 a{
	color: #9d9f88;
	text-decoration: none;
}

.font01{
	text-align: right;
    font-size: 2em;
    font-weight: bold;
    margin: -10px 5px 0 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.topR{
	margin: 10px 0 0 auto;
}

.font02{
	font-size: 1.3em;
}

.tel{
	font-size: 1.1em;
	padding: 10px 0 0 0;
	color: #585858;
}

.sns{
	font-size: 3em; 
	text-decoration: none;
	transition: 1.2s ease;
}

.sns a{
	color: #9d9f88;
}

.sns a:hover{
	opacity: 0.7;
	transition: 1.2s ease;
}

/*nav*/
nav{
	background-color: #b2b8a3;
}

nav ul{
	width: 1000px;
	display: flex;
	margin: 0 auto;
	list-style-type: none;
}

nav ul li{
	border-right: solid 1px #fff;
}

nav ul li:first-child{
	border-left: solid 1px #fff;;

}

nav ul li a{
	font-size: 1em;
    width: 165.5px;
	display: block;
	color: #585858;
	text-decoration: none;
	text-align: center;
	padding: 10px 0;
	position: relative;
	font-weight: bold;
}

nav ul li a:hover{
	background-color: #828167;
	color: #fff;
	text-decoration: none;
    transition: 1.2s ease;
    opacity: 0.7;
    border-radius: 50px 0;
}

/*nav JS*/
.navfixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}


main{
	width: 100%;
    display: block;
    margin: 0 auto;
}

/*PAGE UPボタン*/
.topUp{
	position: relative;
}

.topUp a{
	position: absolute;
    bottom: 30px;
    right: 17%;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #585858;
    background-color: #b2b8a3;
    padding: 4px 6px;
    border-radius: 3px;
    transition: 0.5s ease;
}

.topUp a:hover{
	color: #fff;
	background-color: #797c7e;
    opacity: 1;
}


/*footer部分*/
footer{
    font-size: 12.5px;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    border-top: 2px solid #b2b8a3;
    background-color: #b2b8a3;
    border-top: 1px solid #585858;
}







/*以下参照部分*/
/*header部分*/
/*header{
	padding: 30px 0;
	background-color: #fff;
	border-bottom: 3px solid #fff;
}

header .fbox{
	width: 1000px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

header h1{
	font-size: 16px;
	margin: 0 0 0 auto;
	font-family: 'Sawarabi Mincho', sans-serif;
}*/

/*nave部分*/
/*nav{
	background-color: #4169e1;
}

nav ul{
	width: 1000px;
	display: flex;
	margin: 0 auto;
	list-style-type: none;
}*/

/*nav ul li{
	border-left: 1px solid #fff;
}*/

/*nav ul li a{
	font-size: 0.8em;
	width: 120px;
	display: block;
	color: #fff;
	text-decoration: none;
	text-align: center;
	padding: 10px 0;
	transition: 1.1s ;
	position: relative;
}

nav ul li a:hover {
	transform: scale(1.1);
	opacity: 0.6;
	background-color: #fff;
	color: #4169e1;
	font-weight: bold; 
}*/

/*main img部分*/
/*.imageAndwriting{
	position: relative;
	height: 400px;
	overflow: hidden;
	/*はみ出たところを隠す。
}*/

/*.imageAndwriting p{
	position: absolute;
	color: #fff;
	top: 45px;
	left: 180px;
	font-size: 5em;
	font-weight: bold;
	text-shadow: 4px 4px 1.5px #808080;
	line-height: 1.2em;
	font-family: serif;
}

.imageAndwriting img{
	width: 100%;
}*/

/*.mainPhoto{position:relative;このボックスを起点とするためにposition:relativeに設定
    height: 400px;
    overflow: hidden;}*//*はみ出した画像を隠すため*/

/*.mainPhoto .photo{width: 100%;}

.mainPhoto .welcome{
	position:absolute;このクラスを自由に動かすためにposition:absoluteに設定
	top:25%;/*.mainPhotoの左上を起点として上から25%分下にずらす
	left:20%;}/*.mainPhotoの左上を起点として左から20%分左にずらす
*/
/*main部分*/
/*main{
	width: 1000px;
	margin: 20px auto 0;
	display: flex;
}*/

/*article部分*/
/*article{
	width: 700px;
	display: flex;
	flex-wrap:wrap;
	align-content: start;
}*/

/*section部分*/
/*.box{
	width: 329px;
	border: solid 1px #000000;
	margin: 0 20px 20px 0;
	background-color: #fff;
}

.box:nth-of-type(even){
	margin-right: 0;
}

.box img{
	width: 100%;
	height: auto;
}

.box p{
	margin: 0 8px;
	line-height: 1.5em;
	text-decoration: none;
	margin: 10px 10px 15px 10px;
}*/

/*.box a{
	display: block;
	transition: 0.8s ;
	position: relative;
	text-decoration: none;
	margin: 0 0 20px 0;
    padding-bottom: 30px;
}

.box:hover{
	opacity: 0.7;
	background-color: #fff;
	color: #4169e1;
	opacity: 0.5 ;

}*/

/*aside部分*/
/*aside{
	width: 300px;
	background: linear-gradient(0deg, #bbdbf3, #4169e1);
}

aside .cul h2{
	font-size: 1em;
	color: #4169e1;
	margin: 0 0 20px 0;
	padding: 10px;
	background-color: #fff;
	box-shadow: 0 1px 5px #789;
}

aside .cul ul{
	margin: 0 0 20px 0;
	list-style-type: none;
	font-size: 0.9em;
}

aside .cul ul li a{
	text-decoration: none;
	color: #fff;
	display: block;
	padding: 10px 0 10px 40px;
}

aside section ul li a:hover{
	transition: 0.5s ease;
	color: #fff;
	text-shadow: 0 0 13px #00008b;
	background-color: #3963e3;;
	font-weight: bold;
}*/

/*banner*/
/*.bnnr img{
	width: 100%;
	margin-bottom: 20px;
}

.bnnr a{
	transition: 0.5s ease;
}

.bnnr a:hover{
	opacity:0.5;
}*/

/*PAGE UPボタン*/
/*.topUp{
	position: relative;
}

.topUp a{
	position: absolute;
	bottom: 0;
	right: 5%;
	text-decoration: none;
	font-size: 30px;
	font-weight: bold;
	color: #ff6347;
	background-color: #fff462;
	padding: 10px 15px;
	border-radius:15px;
	transition: 0.5s ease;
}

.topUp a:hover{
	color: #fff;
	background-color: #ea5549;
	opacity: 0.5;
}*/

/*footer部分*/
/*footer{
	font-size: 12.5px;
	margin-top: 20px;
	padding: 10px 0;
	text-align: center;
	color: #4169e1;
	border-top: 2px solid #4169e1;
}*/

/*lightbox箇所*/
/*.lightB{width: 1000px;
    margin: 0 auto;}*/

/*.lightB h2{
    font-size: 18px;
    padding: 10px 0 10px 10px;
    background: #ddd5c5;*//*背景色*/
    /*border-left: solid 5px #60424c;*//*左線*/
    /*border-bottom: solid 1px #984a59;}*//*下線*/

/*.lightB ul{display: flex;
    list-style: none;}*/

/*.lightB li{
    width: 100px;*//*写真の幅*/
    /*margin:10px;}*/

/*.lightB li a{transition: .5s ease;}
.lightB li a:hover{opacity: 0.5;}*/

/*　画面サイズが481px以上　960pxまでのスマホ横・タブレット画面対策　*/
/*@media screen and (min-width:481px) and (max-width:960px) {}*/

/*スマホでの表示 ブラウザ幅480px以下になったら下記の設定を使用する*/
/*@media only screen and (max-width: 480px) {

header{
	max-width: 100%;
}

header .fbox{
	width: 100%;
	margin: 0;
	display: flex;
	align-items: center;
}
header .fbox img{
	width: 80%;
	padding-left: 10px;
}

header h1{
	font-size: 0.7em;
        margin: 0 10px 0 auto;
    width: 30%;
}

nav ul{
	width: 100%;
	flex-wrap: wrap;
	font-size: 0.8em;
	font-weight: bold;
}

nav li{
	width: 50%;
}

nav ul li a{
	    margin: 0 auto;
	width: 50%;
}

.imageAndwriting{
	height: 100%;
}

.imageAndwriting p{
	display: none;
}

main{
	width: 100%;
	flex-direction: column;
}

article{
	width: 100%;
	flex-direction: column;
	flex-wrap:wrap;
	align-content: start;
}

.box{
	width: 100%;
	border: none;
    margin: 0;
}

aside {
    width: 100%;
}

aside .cul ul {
    display: flex;}

}
*/