@media screen and (min-width:481px) and ( max-width:1000px) {
.nav-unshown {
    display:none;
}

.wrapper{
    overflow: hidden;
}

/*header*/

header {
    top: 0;
    width: 100%;
}

.headerInner {
    display: flex;
    padding: 0 2em 5px;
    width: 100%;
    background: #fff;
}

/*right*/
.welcome {
    font-size: 1.1em;
    font-weight: bold;
    color: #b2b8a3;
}

.font02 {
    font-size: 1.1em;
}

.tel {
    font-size: 1.1em;
    padding: 10px 0 0 0;
    color: #585858;
}

.topR {
    margin: 1.5em 0 0 auto;
}

.sns {
    font-size: 2.5em;
    text-decoration: none;
    transition: 1.2s ease;
}

/*nav*/
nav {
    width: 100%;
    background-color: #fff;
    height: 0;
    padding: 0;
}

nav ul {
    width: 100%;
    display: block;
    margin: 0 auto;
    list-style-type: none;
}


nav ul li a {
    font-size: 1em;
    width: 11em;
    display: block;
    color: #585858;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    position: relative;
    font-weight: bold;
    margin: 0.5em auto;
}

/*以下はハンバーガーメニューの設定*/
#nav-drawer {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;}

/*チェックボックス等は非表示に*/
.nav-unshown {display:none;}

/*アイコンのスペース*/
#nav-open {
    display:block;
    line-height: 0.5em;}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span{position: fixed;
    z-index: 999;}
#nav-open span, #nav-open span:before, #nav-open span:after {
    height: 2px;
    width: 25px;
    border-radius: 3px;
    background: #555;
    display: inline-block;
    content: '';
    cursor: pointer;}

#nav-open span:before {top: 0;}
#nav-open span:after {top: 0;}

/*閉じる用の薄黒カバー*/
#nav-close {
    display: none;/*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;/*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: .3s ease-in-out;}

/*中身*/
#nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    max-width: 15em;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    transition: .3s ease-in-out;
    transform: translateX(-105%);
    color: #000;
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
    display: block;/*カバーを表示*/
    opacity: .5;}

#nav-input:checked ~ #nav-content {
    transform: translateX(0%);/*中身を表示*/
    box-shadow: 6px 0 25px rgba(0,0,0,.15);}
/*ハンバーガーメニューの設定ここまで*/


/*body*/
.imgInner {
    width: 100%;
    margin-bottom: 2em;
}

/*トップの画像3枚*/
.imgBox{
    width: 30%;
    margin: 0 auto;
}

.imgBox img {
    width: 100%;
    height: 90%;
    border: none;
}

.imgBox .mask {
    width: 100%;
    height: 90%;
    position: absolute;
    top: -100%;
    left: 0;
    background-color: rgba(0,0,0,0.4);
}

/*main*/
main {
    width: 100%;
    margin: 0 auto;
}

.bckWhite {
    width: 100%;
    margin: 6em auto;
    display: block;
}

/*speciarity*/
.wb {
    text-align: center;
    margin: 2em auto 0.1em;
    background: #b2b8a3;
    padding: 0.1em 0;
    border-radius: 50px 3px;
    color: #fff;
    width: 33em;
}

.specialityInner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0.65em;
}

.spcialityBox01 {
    width: 11.9em;
    flex-wrap: wrap;
    border: solid 1px #c4c9cc;
    margin-bottom: 1.1em;
    border-radius: 50px 3px;
    box-shadow: 0 0.5em #b2b8a3;
}

.spcialityBox02 {
    width: 11.9em;
    flex-wrap: wrap;
    border: solid 1px #c4c9cc;
    border-radius: 50px 3px;
    box-shadow: 0 0.5em #b2b8a3;
}

.spTitle {
    text-align: center;
    color: #585858;
    border-bottom: 1px solid #b2b8a3;
    margin-bottom: 10px;
    font-size: 1.1em;
}

/*news*/
.newsBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 20px;
    padding-bottom: 6em;
}

.cb {
    text-align: center;
    margin: 100px auto 20px;
    background: #fff;
    padding: 5px 0;
    border-radius: 50px 3px;
    color: #585858;
    width: 33em;
}

.newsinfo dl {
    display: flex;
    flex-wrap: wrap;
    height: 11em;
    overflow: scroll;
    padding: 2em 1em;
    background: #fff;
    width: 49.2em;
    margin: 0 auto;
}

.newsinfo dt {
    margin: 0 0.5em 0 0;
    color: #585858;
}

.newsinfo dd {
    margin: -0.1em 0 0 0;
    /* margin-top: -0.2em; */
    width: 42em;
}

/*introduce*/
.introductionBox img {
    margin: 0.65em 0.65em 0 auto;
    width: 100%;
    height: 100%;
    max-width: 14em;
}

.introductionBox {
    display: flex;
    margin: 0 auto 20px;
    padding: 0.65em;
}

.introInner h3{
    padding: 0.65em 0 0 0;
}

.introInner p {
    padding-right: 0;
    color: #585858;
    margin-top: 0.5em;
}

/*map*/
.accsessBox {
    width: 100%;
    margin: 0 auto 2em;
    padding-bottom: 0;
}

.accsessInner {
    display: block;
    color: #585858;
    padding: 0.65em;
}

.accsessBox .building {
    width: 49.5em;
    height: 100%;
    margin: 0 auto;
    max-width: 100%;
    display: block;
    align-items: center;
}

.guide {
    padding: 0.65em 0.65em 1em;
    background: #fff;
    margin: 0 auto;
}

.accsessInner dl {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5em 0 0 0;
}

.accsessInner dt {
    margin: 0 0.2em 0.2em 0;
    color: #585858;
    width: 5em;
}

.accsessInner dd {
    margin: 0.2em 0 0 0;
    width: 40em;
}

.map{
    border: 0;
    width: 100%;
    padding: 0.65em;
}


/*topUp*/
.topUp a {
    position: absolute;
    bottom: 26px;
    right: 1.3%;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #585858;
    background-color: #b2b8a3;
    padding: 4px 6px;
    border-radius: 3px;
    transition: 0.5s ease;
}

}

/*////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////*/

/*スマホで480以下*/
@media only screen and (max-width: 480px) {

.wrapper{
    overflow: hidden;
}

.nav-unshown {
    display:none;
}

.wrapper{
    overflow: hidden;
}

header {
    width: 100%;
    position: relative;
}

main {
    width: 100%;
    margin: 0 auto;
}

.hRbox {
    width: 100%;
    margin: 1.2em auto 0.2em;
}

h1 {
    margin: 0.1em 0.6em;
    text-align: center;
    font-size: 3em;
}



/*header*/

.headerBox{
    position: relative;
    top: 7em;
}

.headerInner {
    display: block;
    padding: 0;
    width: 100%;
    background: #fff;
}

.headerInner img {
    width: auto;
    height: 1.2em;
}


/*sns*/
.sns {
    font-size: 2em;
    text-decoration: none;
    transition: 1.2s ease;
    text-align: right;
    padding: 0 0.2em 0 0;
    z-index: 888;
    position: relative;
    top: -5em;
    right: 0;
}

.faceBook {
    top: 0.5em;
    right: 33em;
}

.instaGram {
    top: 0.5em;
    right: 32em;
}


.font01 {
    text-align: right;
    font-size: 1em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    padding: 0 3em 0 0;
}

.tel {
    font-size: 0.9em;
    padding: 10px 0 0 0;
    color: #585858;
    text-align: right;
    padding: 0.5em;
    position: relative;
    top: 2em;
}

.welcome {
    font-size: 1.1em;
    font-weight: bold;
    color: #b2b8a3;
    margin: 0 -0.7em 0 0;
    position: relative;
    top: -5.4em;
    right: 0.2em;
}

.font02 {
    font-size: 0.9em;
    position: relative;
    top: -6.5em;
}


/*nav*/
nav {
    width: 100%;
    background-color: #fff;
    height: 0;
    padding: 0;
}

nav ul {
    display: flex;
    margin: 2em auto 0em 2.5em;
    list-style-type: none;
    display: block;
}

/*以下はハンバーガーメニューの設定*/
#nav-drawer {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;}

/*チェックボックス等は非表示に*/
.nav-unshown {display:none;}

/*アイコンのスペース*/
#nav-open {
    display:block;
    line-height: 0.5em;}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span{position: fixed;
    z-index: 999;}
#nav-open span, #nav-open span:before, #nav-open span:after {
    height: 2px;
    width: 25px;
    border-radius: 3px;
    background: #555;
    display: inline-block;
    content: '';
    cursor: pointer;}

#nav-open span:before {top: 0;}
#nav-open span:after {top: 0;}

/*閉じる用の薄黒カバー*/
#nav-close {
    display: none;/*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;/*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: .3s ease-in-out;}

/*中身*/
#nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;/*最前面に*/
    width: 60%;/*右側に隙間を作る*/
    max-width: 330px;/*最大幅*/
    height: 100%;
    background: rgba(255, 255, 255, 0.9);/*背景色*/
    transition: .3s ease-in-out;/*滑らかに表示*/
    transform: translateX(-105%);/*左に隠しておく*/
    color: #000;}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
    display: block;/*カバーを表示*/
    opacity: .5;}

#nav-input:checked ~ #nav-content {
    transform: translateX(0%);/*中身を表示*/
    box-shadow: 6px 0 25px rgba(0,0,0,.15);}
/*ハンバーガーメニューの設定ここまで*/

/*body*/
.imgInner{
    width: 100%;
    margin-bottom: 2em;
}

/*トップの画像3枚*/
.imgBox{
    width: 30%;
    margin: 0 auto;
}

.imgBox img {
    width: 111px;
    height: 17ex;
    border: none;
}

.imgBox .caption01 {
    font-size: 1.2em;
    color: #fff;
    padding-top: 179%;
    padding-left: 0px;
    text-align: center;
}

.imgBox .caption02 {
    font-size: 1.2em;
    color: #fff;
    padding-top: 179%;
    padding-left: 0px;
    text-align: center;
}

.imgBox .caption03 {
    font-size: 1.2em;
    color: #fff;
    padding-top: 179%;
    padding-left: 0;
    text-align: center;
}

/*main*/
/**/
.bckWhite {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.wb {
    text-align: center;
    margin: 2em auto 1em;
    background: #b2b8a3;
    padding: 0.1em 0 0.5em 0;
    border-radius: 50px 3px;
    color: #fff;
    width: 16em;
    font-size: 1.3em;
    height: 2em;
}

.titleImg {
    margin-right: 3px;
    width: 1.8em;
}

.specialityInner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 2em 0;
}

.spcialityBox01 {
    width: 10.25em;
    flex-wrap: wrap;
    border: solid 1px #c4c9cc;
    border-radius: 50px 3px;
    margin: 0 0.65em 0.65em 0;
    box-shadow: 0 0.5em #b2b8a3;
}

.spcialityBox01:nth-child(odd){
    margin-left: 0.65em;
}

.spcialityBox01 .spIn {
    padding: 0 0.7em 0.5em;
}

.spcialityBox01 .spIn p {
    color: #585858;
    font-size: 0.85em;
}

.spcialityBox02 {
    width: 10.25em;
    flex-wrap: wrap;
    border: solid 1px #c4c9cc;
    border-radius: 50px 3px;
    margin: 0 0.65em 0.65em 0;
    box-shadow: 0 0.5em #b2b8a3;
}

.spcialityBox02:nth-child(odd){
    margin-left: 0.65em;
}

.spcialityBox02 .spIn {
    padding: 0 0.7em 0.5em;
}

.spcialityBox02 .spIn p {
    color: #585858;
    font-size: 0.85em;
}

.spTitle {
    text-align: center;
    color: #585858;
    border-bottom: 1px solid #b2b8a3;
    margin: 0.3em 0 0.5em;
    font-size: 0.95em;
}


/*news*/
.newsBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 3em;
    padding-bottom: 0;
}

.cb {
    text-align: center;
    margin: 2em auto 1em;
    background: #fff;
    padding: 0.1em 0 0.5em 0;
    border-radius: 50px 3px;
    color: #585858;
    width: 16em;
    font-size: 1.3em;
    height: 2em;
}

.newsinfo dl {
    display: flex;
    flex-wrap: wrap;
    height: 12em;
    overflow: scroll;
    padding: 0.8em 0.5em;
    background: #fff;
    width: 21em;
    margin: 0 auto;
}

.newsinfo dt {
    margin: 0;
    color: #585858;
    font-size: 0.9em;
}

.newsinfo dd {
    margin: -0.2em 0 0 0.5em;
    width: 17em;
    font-size: 0.9em;
}

/*introduce*/
.introductionBox {
    display: block;
    padding-bottom: 2em;
    width: 100%;
    text-align: center;
}

.introductionBox img {
    margin-right: 0;
    width: 14em;
}

.introInner{
    padding: 0.5em;
}

.introInner p {
    padding-right: 0;
    color: #585858;
    margin: 0.5em auto 0;
    text-align: left;
    font-size: 0.9em;
}


/*accsess*/
.accsessBox {
    width: 100%;
    margin: 0 auto 3em;
    padding-bottom: 0;
}

.accsessInner {
    display: block;
    color: #585858;
    text-align: center;
}

.accsessBox .building {
    width: 21em;
    height: auto;
    margin: 0;
}

.guide {
    padding: 0.9em 0.5em 0.5em;
    background: #fff;
    margin: 0 auto;
    width: 21em;
    text-align: left;
}

.guide h3 {
    color: #585858;
    margin: 0 auto 0.5em;
    text-align: center;
}

.guide p{
    font-size: 0.9em;
}

.accsessInner dl {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5em 0 0 0;
    font-size: 0.9em;
}

.accsessInner dd {
    margin: 0.1em 0 0 0.5em;
    width: 70%;
}

.map{
    width: 21em;
    margin: 0.5em auto 0;
    display: block;
}

/*topUp*/
.topUp a {
    position: absolute;
    bottom: 27px;
    right: 3%;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #585858;
    background-color: #b2b8a3;
    padding: 4px 6px;
    border-radius: 3px;
    transition: 0.5s ease;
}